<small><a href="https://github.com/nokonoko/Pomf/blob/db666481ad11d986f4a84334514b261336168ace/pages/check_script.swig#L2"><em>For autist neckbeards (TM)</em></a></small>
<p><a href="/">Home</a> | <a href="/tools/">Tools</a> | Status | <a href="/contact/">Contact</a> | <a href="/Terms/">Terms</a></p>
<hr />
